body {
  margin: 0;
  padding: 0;
  background-image: url("https://img.freepik.com/free-photo/excited-audience-watching-confetti-fireworks-having-fun-music-festival-night-copy-space_637285-559.jpg?semt=ais_hybrid&w=740&q=80");
  background-repeat: no-repeat;
  background-size: cover;
}

.iscrizioneContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.contenitoreForm {
  width: 400px;
  height: auto;
  text-align: center;
  border: solid 1px black;
 background: whitesmoke; 
 padding: 15px;
 border-radius: 10%;
}
.inputContainer {
  margin-bottom: 10px;
}
.inputContainer > label {
  font-weight: bold;
  display: inline-block;
  width: 100%;
 }
.inputButton {
  font-weight: bold;
  }